.App {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vh;
    grid-column-gap: 50px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 15px;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 50px;    
    padding: 15px;
  }
}

.cr-dropdown {
  width: 200px;
  margin: 15px;
}




